<ion-header>
  <ion-toolbar>
    <ion-title>Floating Action Button</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>Fabs are container elements that contain one or more fab buttons. They should be placed in a fixed position that does not scroll with the content. </h2>
  <ion-fab vertical="center" horizontal="center">
    <ion-fab-button>Share</ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-youtube"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  
    <ion-fab-list side="end">
      <ion-fab-button>
        <ion-icon name="logo-pwa"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-npm"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-ionic"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  
    <ion-fab-list side="bottom">
      <ion-fab-button>
        <ion-icon name="logo-github"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-javascript"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-angular"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  
    <ion-fab-list side="start">
      <ion-fab-button>
        <ion-icon name="logo-vimeo"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-chrome"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-react"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
