<ion-header>
  <ion-toolbar>
    <ion-title style="background-color:#B12A24 ;color: white;"><h1 style="text-align: center;">Login</h1></ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content >
  <div style="background-color: #B12A24; height: 100%;">
  <img src="/assets/images/baby.jpg" class="img">
  <ion-input placeholder="Enter Name" style="color: white;"></ion-input>
  <ion-input placeholder="Enter Password" style="color: white;"></ion-input>
  <ion-button color="success" (click)="logins()" style="margin-left: 150px;">Success</ion-button>
</div>
</ion-content>
