<ion-header>
  <ion-toolbar>
    <ion-title>Welcome To Mobile App</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
       <img src="/assets/images/maxresdefault.jpg" alt="">
       
      </ion-slide>
      <ion-slide>
        <img src="/assets/images/cute_baby_images.jpg" alt="">
      </ion-slide>
      <ion-slide>
        <img src="/assets/images/Cute-Baby-Girl-In-Butterfly-Costume.jpg" alt="">
      </ion-slide>
     
    </ion-slides>

</ion-content>
